<div class="py-8">
  <div class="pb-6">
    <div class="flex items-center justify-between">
      <h3 class="font-medium h6 text-gray-600 dark:text-gray-400">Monthly Recurring Revenue</h3>
      <%= link_to "View more", "#", class: "btn btn-link" %>
    </div>

    <div class="flex items-baseline gap-2">
      <p class="h2 mb-0 font-medium">$95,302.32</p>
      <p class="text-green-600 text-xs font-medium">+$323.32</p>
    </div>
  </div>
  <div class="mb-0" data-controller="area-chart"
    data-area-chart-data-value='[{"x": "05/05/2024", "y": 82234 }, {"x": "05/08/2024", "y": 82059 },{ "x": "05/11/2024", "y": 83958 }, {"x": "05/15/2024", "y": 84300 }, {"x": "05/17/2024", "y": 84500 }, {"x": "05/19/2024", "y": 85560 }, {"x": "05/21/2024", "y": 85000 },{ "x": "05/23/2024", "y": 87505 }]'
    data-area-chart-name-value="MRR" data-area-chart-y-axis-max-value="100000"
    data-area-chart-y-axis-denomination-value="$">
  </div>
</div>
