<div class="py-8">
  <div class="pb-6">
    <div class="flex items-center justify-between">
      <h3 class="font-medium h6 text-gray-600 dark:text-gray-400">Total subscribers</h3>
      <%= link_to "View more", "#", class: "btn btn-link" %>
    </div>
    <div class="flex items-baseline gap-2">
      <p class="h2 font-medium">2,021</p>
      <p class="text-green-600 text-xs font-medium">+12</p>
    </div>
  </div>

  <div data-controller="bar-chart"
    data-bar-chart-data-value='[{"x": "May 05, 2024", "y": 1821 }, {"x": "May 08, 2024", "y": 1842 },{ "x": "May 11, 2024", "y": 1863 }, {"x": "May 15, 2024", "y": 1884 }, {"x": "May 17, 2024", "y": 1905 }, {"x": "May 19, 2024", "y": 1926 }, {"x": "May 21, 2024", "y": 1947 },{ "x": "May 23, 2024", "y": 1998 }]'
    data-bar-chart-name-value="Total Subscribers" data-bar-chart-x-axis-max-value="8"
    data-bar-chart-y-axis-max-value="2100" data-bar-chart-y-axis-denomination-value="">
  </div>
</div>
